.header {
    height: 146px;
    background-color: #000c20;
    color: #fff;
    z-index: 10;
    position: sticky;
    position: -webkit-sticky;
    top: -40px;
}

.header__infor-wrap {
    border-bottom: 1px solid #2d2d2d;
}

.header-infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-infor__list {
    list-style: none;
    display: flex;
}

.header-infor__item {
    font-size: 14px;
    color: var(--fade-color);
    margin-right: 70px;
}



.header-infor__link {
    font-size: 14px;
    color: var(--fade-color);
    text-decoration: none;
    padding-left: 25px;
}

.header-infor__link i {
    transition: 0.3s linear;
}

.header-infor__link i:hover {
    transform: rotateY(180deg);
}

.header-infor__link:hover {
    color: var(--primary-color);
}

.header-navbar {
    z-index: 1;
    position: relative;
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header-navbar__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.header-navbar__item {
    padding: 30px 20px;
    cursor: pointer;
    position: relative;
}


.header-navbar__item a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    padding: 20px 0;
    transition: 0.3s linear;
}

.header-navbar__item a:hover {
    color: var(--primary-color);
}

.header-navbar__btn {
    margin-left: 70px;
    position: relative;
}

.header-navbar__item:hover > .header-subnav {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    top: calc(100% + 12px);
}

.header-navbar__item:not(:hover) > .header-subnav {
    opacity: 0;
}

/* Menu */

.header-navbar__menu {
    position: absolute;
    right: 1px;
    z-index: 2;
    padding: 22px;
}

.header-navbar__menu-icon {
    font-size: 25px;
    color: var(--primary-color);
}

.menu-navbar {
    z-index: -1;
    position: absolute;
    top: calc(100% - 2px);
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 3px rgb(141 140 140 / 50%);
    /* margin-top: -230px; */
    visibility: hidden;
    opacity: 0;
    transition: ease-out 0.5s;
    transform: translateY(-10px);
}

.menu-navbar__link {
    display: block;
    font-size: 15px;
    color: #000;
    padding: 10px;
    text-decoration: none;
}

.header__navbar-menu-open-close {
    padding-right: 10px;
}

#menu-open:checked ~ .menu-navbar {
    margin-top: 0;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

#menu-open:checked ~ .header__navbar-menu-open-close > .header-navbar__menu:nth-child(1),
#menu-close:checked ~ .header__navbar-menu-open-close > .header-navbar__menu:nth-child(2) {
    display: none;
}

.menu-subnav {
    padding-left: 25px;
}

.menu-subnav__link {
    display: block;
    font-size: 15px;
    padding: 6px;
    color: #333;
    text-decoration: none;
}

.header-subnav {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 170px;
    background-color: rgba(0,12,32,0.8);
    list-style: none;
    padding: 15px 0 15px 20px;
    border-top: 5px solid var(--primary-color);
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 5%);
    animation: fadeUp linear 0.22s;
    transition: linear 0.3s;
    visibility: hidden;
    opacity: 0;
    /* display: none; */
}

.header-subnav::before {
    content: "";
    position: absolute;
    top: -48px;
    left: 0;
    width: 100%;
    height: 50px;
}

@keyframes fadeUp {
    from {
        transform: translate3d(0, -7px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.header-subnav__item {
    padding: 10px 0;
}

.header-subnav__item a {
    position: relative;
    right: 0;
    transition: right linear 0.3s;
}

.header-subnav__item a:hover {
    color: var(--primary-color);
    right: -4.5px;
}


.background {
    width: 100%;
    height: 978px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-caption {
    height: 100%;
    display: flex;
    align-items: center;
}

.caption {
    font-family: var(--heading-font);
}

.caption__heading {
    font-size: 92px;
    color: #fff;
    line-height: 100px;
    margin-bottom: 60px;
}

.caption__heading span {
    color: var(--primary-color);
}

.caption__form {
    display: flex;
}

.caption__form-input {
    width: 57%;
    font-size: 18px;
    color: #777;
    font-weight: 400;
    padding: 18px 33px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.caption__form-search {
    width: 22%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.caption__status {
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 300;
    color: #fff;
}

/* Container */
/* Custom support */
.container-custom-sp {
    padding: 70px 0;
    background-color: #f9f9f9;
}   

.custom-sp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-sp__icon {
    width: 44px;
    height: 67px;
    color: var(--primary-color);
    fill: currentColor;
}

.custom-sp__infor {
    margin-left: 20px;
    line-height: 30px;

}

.custom-sp__infor-heading {
    font-size: 16px;
    color: #677294;
}

.custom-sp__infor-contact {
    font-size: 20px;
    font-weight: 600;
    color: #2c234d;
}

/* Category */
.container-category {
    padding-top: 170px;
    padding-bottom: 170px;
}

.category-shipping__unit {
    margin-top: 100px;
}


.category-shipping__card {
    z-index: 1;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 18px;
    border: 1px solid #e1ebf7;
    border-radius: 6px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.category-shipping__card:hover {
    border: 1px solid transparent;
}

.category-shipping__card:hover .category-shipping__icon,
.category-shipping__card:hover .category-shipping__text,
.category-shipping__card:hover .category-shipping__transport {
    color: #fff;
    fill: currentColor;
}

.category-shipping__card::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    background-color: var(--primary-color);
}

.category-shipping__card:hover::before {
    height: 100%;
}

.category-shipping__icon {
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    fill: currentColor;
    margin-bottom: 40px;
}

.category-shipping__transport {
    display: block;
    font-size: 36px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color:  var(--heading-color);
    text-decoration: none;
    padding: 20px 50px;
    margin-bottom: 22px;
    text-align: center;
}

.category-shipping__text {
    font-size: 16px;
    color: #57667e;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

/* Company */ 
.container-company {
    padding-bottom: 180px;
}

.category-company__about {
    padding-right: 40px;
}

.category-company__title {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.category-company__heading {
    font-size: 45px;
    line-height: 1.2;
    font-family: var(--heading-font);
    color: var(--heading-color);
    margin-bottom: 40px;
}

.category-company__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #64676c;
    margin-bottom: 30px;
}

.category-company__btn.btn {
    margin-top: 20px;
}

.category-company__img-wrap {
    padding-left: 70px;
}

.category-company__img {
    width: 100%;
}


/* Form */
.container-form {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 140px;
}

.form-request {
    padding: 65px;
    background-color: #f5f5f5;
    border-radius: 8px;
}


.form-request__caption {
    padding-bottom: 50px;
}

.form-request__title {
    font-size: 18px;
    font-family: 600;
    color: var(--primary-color);
    margin-bottom: 25px;
}

.form-request__heading {
    font-family: var(--heading-font);
    font-size: 47px;
    color: var(--heading-color);
    margin-bottom: 25px;
}

.form-request__text {
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    color: #717b9b;
}

.form-request__input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-request__input input {
    width: 100%;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    color: #777;
    padding: 9px 30px;
    outline: none;
    border: none;
    border: 1px solid #efebeb;
    border-radius: 5px;
}

/* Select */
.selector {
    width: 100%;
    height: 60px;
}

#selectField {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px 30px 0 30px;
    font-weight: 500;
    font-size: 18px;
    color: #a6abb0;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#selectField svg {
    width: 16px;
    height: 20px;
    fill: currentColor;
    color: #a6abb0;
    position: relative;

    /* visibility: visible !important; */
}

#list {
    position: relative;
    z-index: 1;
    width: 100%;
    box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    margin-top: 4px;
}

.options {
    width: 100%;
    padding: 7.7px 0 7.7px 30px;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    color: #a6abb0;
    letter-spacing: 0.5px;
}

.options:hover {
    background-color: #f6f6f6;
}

.hide {
    visibility: hidden;
}

.rotate {
    transform: rotate(180deg);
}

/* Radio */
.radio {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.radio__label {
    font-size: 18px;
    font-weight: 700;
}

.radio__select-wrap {
    display: flex;
}



.radio__option {
    font-size: 16px;
    color: #677294;
    padding: 20px 19px;
    cursor: pointer;
}

input[type = "radio"]:checked + .radio__option::before  {
    background-color: var(--primary-color);
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

input[type = "radio"] {
    display: none;
}

.radio__option::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    border: 1px solid #b4b4b4;
    border-radius: 100%;
    background-color: #f4f4f4;
    margin-right: 10px;
}

.form-btn.btn-normal {
    display: block;
}

.category-team {
    padding-top: 80px;
}

.category-team__member {
    position: relative;
    overflow: hidden;
}

.category-team__img {
    width: 100%;
}

.category-team__member:hover .category-team__infor {
    bottom: 0;
    background-color: var(--primary-color);
    transition: linear 0.4s;
}

.category-team__member:hover .category-team__name,
.category-team__member:hover .category-team__link, 
.category-team__member:hover .category-team__position {
    color: #fff;
}

.category-team__member:hover .category-team__link {
    transform: translateY(2px);
    opacity: 1;
    visibility: visible;
}

.category-team__infor {
    position: absolute;
    width: 100%;
    bottom: -39px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 25px 0;
    transition: all ease-out 0.4s 0s;
}

.category-team__name {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: var(--heading-color);
    padding: 40px;
}

.category-team__position {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--heading-color);
    margin-top: 8px;
    
}

.category-team__socials {
    margin-top: 18px;
}

.category-team__link {
    display: inline-block;
    text-decoration: none;
    color: var(--heading-color);
    padding: 0 12px;
    transform: translateY(50px);
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}

.category-team__link:nth-child(1) {
    transition-delay: 0s;
}

.category-team__link:nth-child(2) {
    transition-delay: 0.2s;
}

.category-team__link:nth-child(3) {
    transition-delay: 0.3s;
}

.category-team__link:nth-child(4) {
    transition-delay: 0.4s;
}


/* Feedback */
.container-feedback {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 768px; */
    padding-top: 190px;
    padding-bottom: 180px;
}


.feedback-section__title {
    font-size: 22px;
    letter-spacing: 0.7px;
    font-weight: 500;
    color: var(--primary-color);
}

.feedback-section__heading {
    font-size: 48px;
    font-family: var(--heading-font);
    color: #fff;
    margin-top: 16px;
}

.feedback-slider {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    width: 100%;
}

.feedback-slider__item {
    width: 300%;
    display: flex;
    transition: ease-out 1s;
}


#slide__input1:checked ~ .feedback-slider__item{
    margin-left: 0;
}

#slide__input2:checked ~ .feedback-slider__item{
    margin-left: -100%;
}

#slide__input3:checked ~ .feedback-slider__item{
    margin-left: -200%;
}

.feedback-slider__btn {
    position: absolute;
    right: 19px;
    bottom: 19px;
    padding: 0 6px;
}

.feedback-slider__wrap {
    display: flex;
    position: relative;
    z-index: 2;
    top: 55px;
}

.feedback-slider__btn-item {
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    display: block;
}

.feedback-slider__btn-icon {
    z-index: 1;
    position: relative;
    display: flex;
}

.feedback-slider__icon {
    padding: 15px;
    border: 1px solid #616373;
    color: #616373;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#slide__input1:checked ~ .feedback-slider__btn .feedback-slider__btn-item:nth-child(3),
#slide__input2:checked ~ .feedback-slider__btn .feedback-slider__btn-item:nth-child(2),
#slide__input3:checked ~ .feedback-slider__btn .feedback-slider__btn-item:nth-child(1) {
    display: none;
}


/* .feedback-slider__item {
    opacity: 0;
    animation: cycle 24.5s infinite;
}


.feedback-slider__item:nth-child(2) {
    animation-delay: 8s;
}

.feedback-slider__item:nth-child(3) {
    animation-delay: 16s;
} */

@keyframes cycle {
    25% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

.feedback-slider__text {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #a4acc3;
    margin-bottom: 50px;
}

.feedback-slider__clients {
    display: flex;
    align-items: center;

}

.feedback-slider__img {
    width: 81px;
    height: 81px;
    border-radius: 50%;
}

.feedback-slider__infor {
    margin-left: 25px;
}

.feedback-slider__name {
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #fff;
    
}

.feedback-slider__position {
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #677294;
    padding-top: 8px;
}
.feedback-form {
    padding: 50px;
    background-color: #fff;
    border-radius: 6px;
}

.feedback-form__heading {
    font-size: 22px;
    font-family: var(--heading-font);
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 40px;
}

.feedback-form__input {
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: #777;
    outline: var(--primary-color);
    padding: 12px 0px 9px 30px;
    border-radius: 5px;
    border: 1px solid #efebeb;
    margin-bottom: 20px;
}

.feedback-form__btn {
    width: 100%;
    height: 60px;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none !important;
    -moz-appearance: none;
}

/* Tour blog */
.tourist-blog {
    margin-top: 90px;
}

.tourist-blog__item:hover .tourist-blog__img {
    transform: scale(1.1);
}

.tourist-blog__wrap-img {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
}

.tourist-blog__img {
    width: 100%;
    transform: scale(1);
    transition: all ease-out 0.5s;
}

.tourist-blog__caption {
    display: flex;
    margin-top: 30px;
}

.tourist-blog__date {
    padding-top: 10px;
    width: 80px;
    height: 78px;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 6px;
    margin-right: 20px;
}

.tourist-blog__date-num {
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-color);
}

.tourist-blog__date-month {
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #111;
}

.tourist-blog__cap-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 26px;
    margin-bottom: 20px;
}

.tourist-blog__cap-item {
    text-decoration: none;
    color: #717b9b;
    font-size: 13px;
}

.tourist-blog__cap-item i {
    margin-right: 10px;
}

.tourist-blog__cap-title {
    font-size: 24px;
    font-family: var(--heading-font);
    color: var(--heading-color);
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.tourist-blog__cap-title:hover {
    color: var(--primary-color);
}

/* Footer */
.footer {   
    background-color: #121212;
    padding-top: 105px;
    padding-bottom: 55px;
}

.footer-slogan {
    padding-bottom: 55px;
    border-bottom: 1px solid #1a2537;
}


.footer-slogan__heading {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: var(--heading-font);
    color: #fff;
}

.footer-slogan__number {
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-color);
}

.footer-menu {
    padding-top: 80px;
    padding-bottom: 100px;
}

.footer-menu__heading {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 38px;
}

.footer-menu__list {
    padding-left: 0 ;
    list-style: none;
}

.footer-menu__item {
    position: relative;
    right: 0;
    display: block;
    text-decoration: none;
    color: #868c98;
    letter-spacing: 0.5px;
    padding: 11px 0;
    transition: ease-out 0.3s;
}

.footer-menu__item:hover {
    right: -4px;
    color: var(--primary-color);
}

.footer-menu__text {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #c4c4c4;
    margin: 30px 0;
}

.footer-menu__link {
    font-size: 20px;
    text-decoration: none;
    color: #848493;
    padding: 25px 25px 25px 0;
    transition: ease-out 0.3s;
}

.footer-menu__link:hover {
    color: #fff;
}

.footer-copy-right__text {
    color: #bbbcbc;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
}

.footer-copy-right__text i {
    color: var(--primary-color);
}

.footer-copy-right__link {
    text-decoration: none;
    color: var(--primary-color);
}

/* back top top */
.back-top {
    z-index: 1;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;;
}

.back-top__link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    transition: 2s;
}